{% extends "basel.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<html>
<body background="https://w.wallha.com/ws/1/VwLlk1Xb.jpg">
<center>
<body >
<form action="upload.php" method="post" enctype="multipart/form-data"><br><br>
<center>
<h1 style="font-size: 35px;"> Select Image to Upload</h1><br><br>
</center>
<input style= "font-size: 25px;"  type="file" name="fileToUpload" id="fileToUpload">
<input style= "font-size: 25px;" type="submit" value="Upload Image" name="submit"></br>
</form> 
</center>
</body>
</html>
{% endblock %}